# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

.vs/
Debug/

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

#other
*.sdf
*.pdb
*.ilk
*.suo


# Compiled python
*.pyc
*.zip
*.ctm

tags
*.DS_Store
*.framework

